{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReZume</title>
    <h1 align=center><b></b></h1>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="header">
    <a href="" class="logo"><font color="#00008B">R</font>e<font color="#00008B">Z</font>ume</a>
    <div class="header-right">
    </div>
  </div>
  <div class="home1-image">
    <div class="home1-text">
      <h1>Welcome To ReZume</h1>
      <h3>Tired of making your perfect resume? A perfect resume is important as it grabs the attention of employers and recruiters, it sells your strongest skill and accomplishments, It shows how you are the match for position and project and most importantly gets you a job.</h3>
      <a href="resumedetails"><button class="button">Create</button></a>
    </div>
  </div><br>
  <div class="home2-image">
    <div class="home2-text">
      <h1>Start Your Journey</h1>
      <h3>A simple way to build you resume and get started in your career. Just enter your details and your resume is ready in
        less than 5 mins.</h3>
      <a href="resumedetails"><button class="button">Let's Begin</button></a>
    </div>
  </div>
  <div class="home3-image">
    <div class="home3-text">
      <h1>Saves Your Time And Money</h1>
      <h3>Coz its fast and prepares your resume in less than 5 mins. Coz its free of cost!</h3>
      <a href="resumedetails"><button class="button">Try It For Free</button></a>
    </div>
  </div>
  <div class="home4-image">
    <div class="home4-text">
    <h1>ReZume</h1>
    <h3>So, what are you waiting for? Let's get started!</h3>
    <a href="resumedetails"><button class="button">Create My Resume</button></a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Jayanth S</h2>
          <p class="title">1VJ19CS019</p>
          <p>Vijaya Vittala Institute Of Technology</p>
          <p>jayanthsdhai@gmail.com</p>
          <p><a href="mailto:jayanthsdhai@gmail.com"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Nibid Raj Shrestha</h2>
          <p class="title">1VJ19CS040</p>
          <p>Vijaya Vittala Institute Of Technology</p>
          <p>nibidrajshrestha@gmail.com</p>
          <p><a href="mailto:nibidrajshrestha@gmail.com"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Sushil Kumar Sah</h2>
          <p class="title">1VJ19CS055</p>
          <p>Vijaya Vittala Institute Of Technology</p>
          <p>sushilshah3344@example.com</p>
          <p><a href="mailto:sushilshah3344@gmail.com"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>