* {box-sizing: border-box}

  input[type=text], input[type=email], input[type=number], input[type=url], input[type=month]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.header {
    overflow:hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    position:absolute;
    top: 0;
    width: 99%;
    text-align: center;
  }

  .header a {
    float: center;
    color: dodgerblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .header a:hover {
    background-color: #f1f1f1;
    color: dodgerblue;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: center;
    }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.container {
  padding: 50px 150px 50px 150px;
}
